h3 {
    margin: 25px 0px 0px 25px;
    color: #38260E;
}

.container-custom {
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 25px;
}

footer {
    background-color: #E1D9D9;
}

form.container-custom {
    margin-bottom: 130px;
}

input.inputJam {
    border-color: rgba(0,0,0,0);
}

.modal-header {
    background-color: #DEB887 !important;
}

.modal-body, .modal-footer {
    background: rgba(255,228,196,0.35) !important;
}

.inputJam {
    background-color: rgba(0,0,0,0) !important;
    border-color: #C0C0C0 !important;
}

button[type=submit] {
    float: right;
}