.container_satu {
    margin: 30px 0px 0px 0px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100% !important;
}

.ic-aksi {
    width: 20x !important;
    height: 20px !important;
}

.ic-aksi:hover {
    cursor: pointer;
}

.page-footer {
    z-index: 1;
}

.modal-header {
    background-color: #DEB887 !important;
}

.modal-body {
    background: rgba(255,228,196,0.35) !important;
}

select, input, tr {
    background-color: rgba(255,228,196,0) !important;
}

option {
    background-color: rgba(255,228,196,0.35);
}

input {
    border : 1px solid #C0C0C0;
}

.modal-body button {
    float: right;
}

#inputId {
    background-color: rgb(220,220,220) !important;
}

@media screen and (max-width: 680px) {
    .container-satu {
        padding-left: 25px !important;
    }
}