.container_satu {
    margin: 30px 0px 0px 0px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100% !important;
}

.btn-primer {
	background-color: #A66C20;
	color: white;
}

.btn-primer {
    color: white !important;
}

.ic-aksi {
    width: 20x !important;
    height: 20px !important;
}

.ic-aksi:hover {
    cursor: pointer;
}

.FAB {
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-decoration: none;
    background-color: #A66C20;
    color: white;
    padding: 12px 18px;
    border-radius: 50%;
    font-size: 25px;
    width: 50px;
    height: 50px;
    z-index: 2;
}

.FAB:hover {
    background-color: #c78834;
    color: white;
    text-decoration: none;
}

.page-footer {
    z-index: 1;
}

select, input, tr {
    background-color: rgba(255,228,196,0) !important;
}

option {
    background-color: rgba(255,228,196,0.35);
}

input {
    border : 1px solid #C0C0C0;
}

@media screen and (max-width: 680px) {
    .container_satu {
        padding-left: 25px !important;
    }
}