.container_satu {
    margin: 40px 0px 0px 0px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100% !important;
}

.container_satu button{
    float: right;
}

.btn-primer {
	background-color: #A66C20;
	color: white;
}

.btn-primer {
    color: white !important;
}

.FAB {
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-decoration: none;
    background-color: #A66C20;
    color: white;
    padding: 12px 18px;
    border-radius: 50%;
    font-size: 25px;
    width: 50px;
    height: 50px;
}

.FAB:hover {
    background-color: #c78834;
    color: white;
    text-decoration: none;
}

table {
    margin-top: 30px;
    overflow-x: auto;
}

table thead tr th {
    padding: 2px;
}

footer {
    background-color: #E1D9D9;
}

select, input, tr {
    background-color: rgba(255,228,196,0) !important;
}

option {
    background-color: rgba(255,228,196,0.35);
}

input {
    border : 1px solid #C0C0C0;
}

table {
    z-index: 1;
}

.FAB {
    z-index: 2;
}

@media screen and (max-width: 680px) {
    .container_satu {
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 20px;
    }
}