.container_satu {
    margin: 30px 0px 0px 0px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100% !important;
}

.btn-primer {
	background-color: #A66C20;
	color: white;
}

.btn-primer {
    color: white !important;
}

.ic-aksi {
    width: 20x !important;
    height: 20px !important;
}

.ic-aksi:hover {
    cursor: pointer;
}
